In [1]:
import pandas as pd

In [6]:
pur_df = pd.read_csv('purchase_df.csv')

vis_df = pd.read_csv('visits_df.csv')

cart_df = pd.read_csv('cart_df.csv')

checkout_df = pd.read_csv('checkout_df.csv')

In [9]:
pur_df.head()

                                  user_id        purchase_time
0    4b44ace4-2721-47a0-b24b-15fbfa2abf85  2017-05-11 04:25:00
1    02e684ae-a448-408f-a9ff-dcb4a5c99aac  2017-09-05 08:45:00
2    4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc  2017-11-20 20:49:00
3    a5dbb25f-3c36-4103-9030-9f7c6241cd8d  2017-01-22 15:18:00
4    46a3186d-7f5a-4ab9-87af-84d05bfd4867  2017-06-11 11:32:00
..                                    ...                  ...
247  278c0f3c-d092-4e7f-b97b-97cc9d57c1c2  2017-01-05 02:45:00
248  952be3a5-9240-484f-845c-a6b2cbed72ee  2017-05-02 06:10:00
249  27e5a297-332d-4e8b-8e2a-b97ae8c5b6f9  2017-09-04 17:39:00
250  4b04c692-d814-45bd-854a-000e0ef4e92a  2017-06-20 17:28:00
251  c62fdf2f-3b30-4624-8463-d3961e687997  2017-11-21 23:00:00

[252 rows x 2 columns]

In [8]:
vis_df.head()

                                user_id           visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188  2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2  2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1  2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab  2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96  2017-02-27 11:25:00

In [10]:
cart_df.head()

                                user_id            cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168  2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973  2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663  2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3  2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974  2017-07-26 15:48:00

In [11]:
checkout_df.head()

                                user_id        checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d  2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e  2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d  2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a  2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd  2017-01-08 20:52:00

- Combine visits and cart using a left merge.
- How long is your merged DataFrame?
- How many of the timestamps are null for the column cart_time?
- What percent of users who visited site ended up not placing a t-shirt in their cart?
- Repeat the left merge for cart and checkout and count null values. What percentage of users put items in their cart, but did not proceed to checkout?

## Combine visits and cart using a left merge

In [13]:
df=pd.merge(vis_df,cart_df,how='left')
df

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaN
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaN
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaN
...,...,...,...
1995,33913ac2-03da-45ae-8fc3-fea39df827c6,2017-03-25 03:29:00,NaN
1996,4f850132-b99d-4623-80e6-6e61d003577e,2017-01-08 09:57:00,NaN
1997,f0830b9b-1f5c-4e74-b63d-3f847cc6ce70,2017-09-07 12:56:00,NaN
1998,b01bffa7-63ba-4cd3-9d93-eb1477c23831,2017-07-20 04:37:00,NaN
1999,0336ca81-8d68-443f-9248-ac0b8ad147d5,2017-11-15 10:11:00,NaN

## How long is your merged DataFrame?

In [14]:
df.shape

(2000, 3)

## How many of the timestamps are null for the column cart_time?

In [17]:
df.cart_time.isna().value_counts()

True     1652
False     348
Name: cart_time, dtype: int64

## What percent of users who visited site ended up not placing a t-shirt in their cart?

In [19]:
val=vis_df.user_id.count()
val

2000

In [20]:
merge=pd.merge(vis_df,cart_df,how='outer')
merge.head()

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaN
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaN
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaN

In [25]:
not_placed=merge.cart_time.isna().sum()
not_placed

1652

In [26]:
per= not_placed/val*100
print('Percentage of people who visited but haven\'t added any item in their cart is: ', per)

Percentage of people who visited but haven't added any item in their cart is:  82.6

## Repeat the left merge for cart and checkout and count null values. What percentage of users put items in their cart, but did not proceed to checkout?

In [29]:
df=pd.merge(cart_df,checkout_df,how='left')
df.head()

,user_id,cart_time,checkout_time
0,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:14:00
1,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 20:50:00
2,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:11:00
3,4397f73f-1da3-4ab3-91af-762792e25973,2017-05-27 01:35:00,NaN
4,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00

In [31]:
df.isna().count()

user_id          482
cart_time        482
checkout_time    482
dtype: int64

In [34]:
val= cart_df.user_id.count()
val

348

In [40]:
not_proceed_to_checkout=df.checkout_time.isna().sum()
not_proceed_to_checkout

122

In [42]:
per=not_proceed_to_checkout/val *100
print('percentage of users put items in their cart, but did not proceed to checkout',per)

percentage of users put items in their cart, but did not proceed to checkout 35.05747126436782